@model VehicleParkingSystem.Models.Vehicle

@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

<section class="content-header">
    <h1>
        Park in!
        <small>Get your Vehicle Parked</small>
    </h1>
</section>

<section class="content container-fluid">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PlateNumber)
            @Html.EditorFor(model => model.PlateNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PlateNumber, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InMACIP)
            @Html.EditorFor(model => model.InMACIP, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.InMACIP, "", new { @class = "text-danger" })
        </div>

        <input type="submit" value="Park My Vehicle" class="btn btn-default" />
    }

</section>